/datafiles/data/*
!/datafiles/data/0main/

/extensions/FMOD/*
options/extensions/FMOD.json
scripts/ExtBufferIO/ExtBufferIO.gml
scripts/ExtBufferIO/ExtBufferIO.yy
scripts/Fmod_Definitions/Fmod_Definitions.gml
scripts/Fmod_Definitions/Fmod_Definitions.yy
scripts/Fmod_Functions/Fmod_Functions.gml
scripts/Fmod_Functions/Fmod_Functions.yy

/extensions/NekoPresence/*
options/extensions/NekoPresence.json

/Build/*
scripts/dual_quaternions/dual_quaternions.gml
scripts/dual_quaternions/dual_quaternions.yy
scripts/matrices/matrices.gml
scripts/matrices/matrices.yy
scripts/quaternions/quaternions.gml
scripts/quaternions/quaternions.yy
scripts/smf_anim/smf_anim.gml
scripts/smf_anim/smf_anim.yy
scripts/smf_instance/smf_instance.gml
scripts/smf_instance/smf_instance.yy
scripts/smf_model/smf_model.gml
scripts/smf_model/smf_model.yy
scripts/smf_rig/smf_rig.gml
scripts/smf_rig/smf_rig.yy
scripts/smf_sample/smf_sample.gml
scripts/smf_sample/smf_sample.yy
scripts/smf_system/smf_system.gml
scripts/smf_system/smf_system.yy
scripts/vectors/vectors.gml
scripts/vectors/vectors.yy
